#CardOne {
  width: 45rem;
  height: "10rem";
  cursor: pointer;
  margin-bottom: 1em;
  background-color: #15202b;
  border: 3px outset #1da1f2;
  color: white;
  margin: auto;
  top: 1em;
  text-align: center;
}

#CardOne:hover {
  background-color: #1c548b57;
}

#cardHeader {
  font-style: oblique 40deg;
  font-size: 1em;
  border: 1px outset white;
}

#createMessageCard {
  border: 1.5px outset #1da1f2;
  margin: auto;
  font-size: 1.5em;
  background-color: #15202b;
}

#postButton {
  bottom: 3px;
  margin-left: 0.5em;
  top: 2px;
  background-color: #1da1f2;
}

#postButton:hover{
  background-color: rgb(62,85,101);
}

#likeButton {
  border: 1px solid white;
}

#input {
  font-size: 2em;
}
#inputBar {
  margin: auto;
}
#inputField {
  width: 30rem;
}
