
#profile-card {
    width: 20em;
    margin: 20px auto;
    background-color: rgb(77,77,77);
    color: rgb(41,163,240);
}

#profile-image {
    border-top: 3px solid rgb(21,32,43);
    border-bottom: 3px solid rgb(21,32,43);
}

#title {
    padding-left: 0.5em;
    padding-top: 0.3em;
}

#photo-form {
    font-size: small;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(21,32,43);
    padding-bottom: 0.5em;
}

#card-info {
    border-bottom: 1px solid rgb(21,32,43);
}

#myFile {
    margin-left: 1em;
    margin-top: 1em;
}

#photo-input {
    width: 70%;
}

#photo-button {
    width: 30%;
}

#upload-button {
    background-color: rgb(41,163,240);
    font-size: small;
}

#upload-button:hover {
    background-color: rgb(21,32,43);
}

#delete-button {
    margin-left: 1em;
    margin-bottom: 0.5em;
    width: 45%;
    font-size: small;
    margin-top: 0.5em;
}





