.link {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin: 10px auto;
  color: white;
}

.link:hover {
  color: rgb(41,163,240);
  text-decoration: none;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin: 10px auto;
  color: white;
}

body {
  background-color: rgb(21, 32, 43);
}


